{mode, max}.

{report_interval, 1}.
{duration, infinity}.
{concurrent, 16}.

{driver, basho_bench_driver_cs2}.

{cs2_http_hosts, [{"127.0.0.1", 8071}]}.
{cs2_raw_port, 8071}.

{cs2_host_base, "s3.amazonaws.com"}.

%% Set {admin_auth_enabled, false} in CS's app.confing
{cs2_user_count, 30}.
{cs2_user_prefix, "bb-user"}.
{cs2_bucket_prefix, "bb-test"}.

{key_generator, {int_to_str, {partitioned_sequential_int, 100000}}}.
{value_generator, {fixed_bin, 10}}.

{operations, [{put, 1}]}.
